@model List<SharpDevelopMVC4.Models.Patient>
@{
	ViewBag.Title = "Patient";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
 @if (Request.IsAuthenticated)
     {
<h2>Patient List</h2>

<table class="table table-hover">
        <thead>
            <tr>
               

                <th> CustomerName</th>
                <th> Address</th>
                <th> Number</th>
                <th> Concern</th>
                <th> Pettype</th>
                <th> Petcolor</th>
                <th> Petage</th>
                <th> Weight</th>
                <th> Temperature</th>
                <th> Date</th>
                <th> Complain</th>
                <th>Vetid</th>
               
                
                 
            </tr>
        </thead>
        <tbody>
			@foreach(var product in Model)
			{
	            <tr>
	                   

	                <td>@product.Customername</td>
	                <td>@product.Adrress</td>
	                <td>@product.Number</td>
	                <td>@product.Concern</td>
	                <td>@product.Pettype</td>
	                <td>@product.Petcolor</td>
	                <td>@product.Petage</td>
	                <td>@product.Weight</td>
	                <td>@product.Temperature</td>
	                <td>@product.Datetoday</td>
	                
	                <td>@product.Complain</td>
	                <td>@product.Vetid</td>


	               
	              
	               
	            </tr>
			}
        </tbody>
    </table>
    
    }