@model List<SharpDevelopMVC4.Models.Patient>
@{
	ViewBag.Title = "Patient";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
 @if (Request.IsAuthenticated)
     {
<h2>Patient List</h2>

<table class="table table-responsive table-hover">
        <thead>
            <tr>
               

                <th> CustomerName</th>
                <th> Address</th>
                <th> Number</th>
              
                
               
                <th> Pettype</th>
                <th> Petbreed</th>
               
                
               
                
              
                <th> Date</th>
               
                
              @if(User.IsInRole("doctor"))
               {
                <th>Action</th>
               }   
                
                 
            </tr>
        </thead>
        <tbody>
			@foreach(var product in Model)
			{
	            <tr>
	                   

	                <td>@product.Customername</td>
	                <td>@product.Adrress</td>
	                <td>@product.Number</td>
	                
	                
	                
	                <td>@product.Pettype</td>
	                <td>@product.PetBreed</td>
	                
	                
	               
	                <td>@product.Datetoday</td>
	                
	               
	               
	                
	              @if(User.IsInRole("doctor"))
                   {
	                <td><a href="/Diagnose/Add/@product.Id" class="btn btn-primary btn-sm">Diagnose</a></td>
	               } 

	               
	            </tr>
			}
        </tbody>
    </table>
    
  
    

    
    if(TempData["addpatient"] != null)
    {
    
        <script>    
    function func(nam) {
        alert(nam);
    }
    </script>
		<script src="~/Scripts/YourJsFileWherFuncIsDefined.js"></script>
		<script>func('Added Successfuly..') </script>
    
    
    }
    
     if(TempData["addmessage"] != null)
    {
    
        <script>    
    function func(nam) {
        alert(nam);
    }
    </script>
		<script src="~/Scripts/YourJsFileWherFuncIsDefined.js"></script>
		<script>func('Added Successfuly..') </script>
    
    
    }
    
    }