@{
	ViewBag.Title = "Edit";
	Layout = "~/Views/Shared/_Layout.cshtml";
	var Product = ViewBag.Product;
}
 @if (Request.IsAuthenticated)
     {
<h2>Edit</h2>

<div class="row">
    <div class="col-md-4">
        <section>
        
            <form action="/pet/edit?Id=@ViewBag.ID" method="post" class="form-horizontal">
            	 
            	 <div class="form-group">
                    <label >Pet Name</label>
                    <input class="form-control" type="text" id="PetName" name="PetName" value="@Product.PetName" required />
                </div>  
               
               <div class="form-group">
                    <label >Owners Fullname</label>
                    <input class="form-control" type="text" id="OwnersName" name="OwnersName" value="@Product.OwnersName" required/>
                </div>
                
                 <div class="form-group">
                    <label >Breed:</label>
                    <input class="form-control" type="text" id="Breed" name="Breed" value="@Product.Breed" required/>
                   
                </div>

                <div class="form-group">
                    <label >Type</label>
                    <input class="form-control" type="text" id="Type" name="Type" value="@Product.Type" required/>
                </div>
                
                <div class="form-group">
                    <label >Color</label>
                    <input class="form-control" type="text" id="Color" name="Color" value="@Product.Color" required/>
                </div>
                
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Update</button>
                     <a href="/pet/index" class="btn btn-secondary ">Cancel</a>
                     <p style="color:red">@ViewBag.message</p>
                </div>
                <div class="form-group">
                </div>				               
            </form>
            
        </section>
    </div>


</div>
}