@model List<SharpDevelopMVC4.Models.Pet>
@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
 @if (Request.IsAuthenticated)
     {
<h2>Index</h2>
  if(Model == null)
  {
  
   <p>Null</p>
  }
 <table class="table table-hover">
        <thead>
            <tr>
                
                <th>PetName</th>
               
                 
                <th>Breed</th>
                <th>Type</th>
                <th>Color</th>
                 <th>BloodType</th>
                  <th>Gender</th>
                   <th>BirthDate</th>
                <th>Action</th>
                 
                 
            </tr>
        </thead>
        <tbody>
			@foreach(var product in Model)
			{
	            <tr>
	                
	                <td>@product.PetName</td>
	               
	                <td>@product.Breed</td>
	                <td>@product.Type</td>
	                <td>@product.Color</td>
	                <td>@product.Bloodtype</td>
	                <td>@product.Gender</td>
	                <td>@product.Bdate</td>
	                
	                 <td> 
	                 <a href="/pet/Edit/@product.Id" class="btn btn-warning btn-sm">Edit</a>
	                 <a href="/pet/Delete/@product.Id" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure?')">Delete</a>
	                 </td>
	                 
	                 
	                 
	            </tr>
			}
        </tbody>
    </table>
    
    
     if(TempData["pet"] != null)
    {
    
    <script>    
       function func(nam) {
        alert(nam);
    }
    </script>
	<script src="~/Scripts/YourJsFileWherFuncIsDefined.js"></script>
	<script>func('Added Successfuly..') </script>
    
    
    }
    
    
     if(TempData["edit"] != null)
    {
    
    <script>    
       function func(nam) {
        alert(nam);
    }
    </script>
	<script src="~/Scripts/YourJsFileWherFuncIsDefined.js"></script>
	<script>func('Edit Successfuly..') </script>
    
    
    }
    
    
    
    if(TempData["deletpet"] != null)
    {
    
    <script>    
      function func(nam) {
        alert(nam);
    }
    </script>
	<script src="~/Scripts/YourJsFileWherFuncIsDefined.js"></script>
	<script>func('Deleted Successfuly..') </script>
    
    
    }
    }